.compensation-value {
  color: green;
}

.info {
  display: inline-block;
  border-top: 1px solid lightslategray;
  padding-top: 30px;
  width: 50%;
}

@media (max-width: 810px) {
  .info {
    width: 100%;
  }
}