.table-container {
  width: 55%;
  margin: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.rf-table tbody tr {
  height: 74px;
  border-top: 1px solid #cecece;
}

.rf-table tbody tr:hover > td {
  background-color: #f7f7f7;
}

td {
  padding: 15px 0;
}

@media (max-width: 810px) {
  .table-container {
    width: 100%;
    text-align: left;
  }

  .rf-table tbody tr {
    height: 100px;
  }
}
